<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUqtqO2gKVjVBpacvB8lPY7uvaF6bjtZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419684208484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uvec</string>
	<key>PROJECT_ID</key>
	<string>vscode-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>vscode-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419684208484:ios:d83e6be7405fd947537471</string>
	<key>DATABASE_URL</key>
	<string>https://vscode-clone-default-rtdb.firebaseio.com</string>
</dict>
</plist>